.card-container{
    
}

.card-container1{
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: row;   
    margin-top: 0;    
}
.card-container1 .card{
     margin-right: 30px;
}


.card-container2{
    height: 600px;
    justify-content: space-around;
    align-items: end;     
    display: flex; 
    flex-direction: row-reverse;
}


.card-container3{
    height: 600px;
    align-items: start;     
    display: flex; 
    flex-direction: column;
}

.card-container4{
    height: 600px;
    margin-top: 500px;
    align-items: center;
    display: flex;  
    flex-direction: column-reverse;
    justify-content: space-evenly; 
}


.card{
    height: 460px;
    width: 270px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 100px;
}
.card-image{
    height: 300px;
    width: 265px;
    border-radius: 10px;
    border: 1px solid rgb(56, 54, 54);
    position: relative;
}

.scard-image{
    height: 100px;
    width: 70px;
    margin-left: 20px;
    border-radius: 5px;
    position: relative;
    bottom:45px;
}
.about-movie{
position: relative;
bottom:105px;
margin-left: 110px;
display: flex;
flex-direction: column;
}

.about-container{
height: 60px;
}
.info-container{
display: flex;
justify-content: space-between;
}




